.espaco {
	margin-top: 20px;
}

.home {
	margin-top: -40px;
}

.genero {
	margin-top: 20px;
}

.cadastrar {
	margin-top: 100px;
}

.galeria {
	margin-top: 30px;
}

.buscar {
	margin-top: 100px;
}

.btn-galeria {
	margin-right: 5px;
}

.margin-left {
	margin-left: 10px;
}

