<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Consulta de Filmes</title>
</head>
<body>
    <div style="margin: 0 auto; text-align: center; width: 500px; height: 500px; border: 1px solid black">
    	<form action = "/buscar" method = "POST" name = "pgConsultar">
            <h1>Consultar Filme:</h1>

                Nome:* <br>
                <input type="text" name="nome" required="required" maxlength="62"/>
                <input type="submit" name="buscar" value="Localizar">
                
                <br><br>
                
                <ul>
					{{#buscaFilmes}}
					<li>{{nome}}</li>
					{{/buscaFilmes}}
				</ul>
    	</form>
    </div>
</body>
</html>